.tp-content {
    padding: 180px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tp-column {
    width: 50%;
    box-sizing: border-box;
}

.tp-contact-form-column {
    order: 1;
}

.tp-contact-info-column {
    order: 2;
}

h2 {
    margin-bottom: 30px;
}

p {
    text-align: justify;
}

ul {
    margin: 50px 0 0 10px;
}

li {
    margin: 10px 0;
}

.tp-map {
    margin-top: 80px;
}

.tp-map, agm-map {
    height: 50vh;
    width: 100%;
}

.fa {
    margin-right: 10px;
    font-size: 20px;
    text-align: right;
    color: #00796B;
}

.fa-map-marker {
    margin-right: 19px;
}

.fa-phone {
    margin-right: 14px;
}

a {
    text-decoration: none;
    color: #00796B;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1200px) {
    .tp-column {
        padding: 0 20px;
    }
}

@media screen and (max-width: 968px) {
    .tp-column {
        width: 100%;
    }

    .tp-contact-form-column {
        order: 2;
    }

    .tp-contact-info-column {
        order: 1;
        margin-bottom: 50px;
    }
}