<div class="tp-content">
    <div class="tp-column tp-contact-form-column">
        <contact-form></contact-form>
    </div>
    <div class="tp-column tp-contact-info-column">
        <h2>Skontaktuj się z nami</h2>
        <p>Masz pytanie lub problem dotyczący portalu Tripane? Sprawdź <a routerLink="/faq">Najczęściej zadawane pytania</a>.
        Potrzebujesz więcej informacji? Napisz do nas, korzystając z formularza kontaktowego lub skontaktuj się używając poniższych danych.</p>
        <ul>
            <li><span class="fa fa-map-marker"></span>{{address}}</li>
            <li><span class="fa fa-phone"></span>tel. {{phone}}</li>
            <li><span class="fa fa-envelope"></span>{{email}}</li>
        </ul>
    </div>
</div>
<div class="tp-map">
    <agm-map [latitude]="lat" [longitude]="lng" [minZoom]="15">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>