<div class="tp-map">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
<h2>{{trip.title}}</h2>
<div class="tp-content">
    <div class="tp-column">
        <div class="tp-image-wrapper">
            <img src="{{trip.photoUrl}}" alt="{{trip.title}}">
        </div>
    </div>
    <div class="tp-column">
        <p>{{trip.description}}</p>
        <p>{{trip.startDate | date : "dd.MM.yy" }} - {{trip.endDate | date : "dd.MM.yy" }}</p>
        <p>{{trip.startPlace}} -> {{trip.destination}}</p>
        <p>{{trip.priceAmount}}{{trip.priceCurrency}}</p>
    </div>
</div>