.tp-map, agm-map {
    width: 100%;
    height: 70vh;
}
 
.tp-map {
    margin-top: 100px;
}

form {
    width: 80%;
    margin: 30px auto 80px auto;
}

input, textarea, select {
    margin: 10px 0;
    box-sizing: border-box;
}

input, select {
    width: 100%;
}

label[for="trip-new-start"], label[for="trip-new-end"], 
label[for="trip-new-transport"], label[for="trip-new-accommodation"] {
    width: 49%;
}

label[for="trip-new-start"], label[for="trip-new-transport"], label[for="trip-new-price-min"] {
    float: left;
}

label[for="trip-new-end"], label[for="trip-new-accommodation"], label[for="trip-new-currency"] {
    float: right;
}

label[for="trip-new-price-min"], label[for="trip-new-price-max"], label[for="trip-new-currency"] {
    width: 32%;
}

label[for="trip-new-price-max"] {
    display: block;
    float: left;
    margin-left: 2%;
}

.tp-sort-by {
    margin-top: 40px;
    margin-right: 50px;
}

button {
    margin-top: 30px;
}



@media screen and (max-width: 860px) {
    label[for="trip-new-start"], label[for="trip-new-end"], label[for="trip-new-transport"], label[for="trip-new-accommodation"], 
    label[for="trip-new-price-min"], label[for="trip-new-price-max"], label[for="trip-new-currency"] {
        width: 100%;
    }

    label[for="trip-new-price-max"] {
        margin-left: 0;
    }
}