<div class="tp-map">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
<div class="tp-content">
    <form>
        <label for="trip-new-start">Data rozpoczęcia
        <input #startDate id="trip-new-start" type="date" placeholder="Data rozpoczęcia"></label>
        <label for="trip-new-end">Data zakończenia
        <input #endDate id="trip-new-end" type="date" placeholder="Data zakończenia"></label>
        <label for="trip-new-startplace">Miejsce startu
        <input #startPlace id="trip-new-startplace" type="text" placeholder="Miejsce startu"></label>
        <label for="trip-new-destination">Cel wycieczki
        <input #destination id="trip-new-destination" type="text" placeholder="Cel wycieczki"></label>
        <label for="trip-new-price-min">Koszt wycieczki (minimum)
        <input #minPrice id="trip-new-price-min" type="number" placeholder="Koszt min" class="tp-min"></label>
        <label for="trip-new-price-max">Koszt wycieczki (maksimum)
        <input #maxPrice id="trip-new-price-max" type="number" placeholder="Koszt max"></label>
        <label for="trip-new-currency" class="tp-currency">Waluta
        <select #currency id="trip-new-currency">
            <option disabled selected>Waluta</option>
            <option>zł</option>
            <option>euro</option>
        </select></label>
        <label for="trip-new-transport">Transport
        <select #transport id="trip-new-transport">
            <option disabled selected>Transport</option>
            <option>Pociąg</option>
            <option>Samochód</option>
            <option>Samolot</option>
            <option>Autostop</option>
            <option>Pieszo</option>
        </select></label>
        <label for="trip-new-accommodation">Zakwaterowanie
        <select #accommodation id="trip-new-accommodation" class="tp-accommodation">
            <option disabled selected>Zakwaterowanie</option>
            <option>Hotel</option>
            <option>Namiot</option>
            <option>Schronisko</option>
            <option>Pensjonat</option>
        </select></label>

        <select #sort class="tp-sort-by">
            <option disabled selected>Sortuj po</option>
            <option>Cena rosnąco</option>
            <option>Cena malejąco</option>
            <option>Czas trwania</option>
        </select>
        <button (click)="onSearch(
            startDate.value, 
            endDate.value, 
            startPlace.value, 
            destination.value, 
            minPrice.value, 
            maxPrice.value, 
            currency.value, 
            transport.value, 
            accommodation.value, 
            sort.value
            )">Szukaj</button>
    </form>
</div>
<trips></trips>