.tp-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 180px 0 50px 0;
}

.tp-column {
    width: 50%;
}

.tp-image-column {
    order: 1;
}

.tp-description-column {
    order: 2;
}

.tp-image-wrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.tp-image-wrapper img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tp-message {
    width: 100%;
    margin: 50px 0;
    order: 3;
}

.label-name, .label-email {
    width: 49%;
    position: relative;
    padding: 8px 0;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.label-name {
    float: left;
}

.label-email {
    float: right;
}

.label-message {
    width: 100%;
    box-sizing: border-box;
    margin: 30px 0;
    position: relative;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

h2, h4 {
    margin-bottom: 40px;
    width: 100%;
}

h5, h6 {
    text-align: left;
}

p {
    margin: 10px 0 20px 0;
}

.tp-user-description {
    text-align: justify;
}

.fa {
    padding-right: 10px;
    color: #00796B;
}

p.errorMessage-message {
    bottom: -25%;
}



@media screen and (max-width: 1100px) {
    .tp-column {
        width: 100%;
    }

    .tp-image-column {
        order: 2;
    }

    .tp-description-column {
        order: 1;
        text-align: left;
        padding: 0 20px;
    }

    .tp-message {
        padding: 10px;
    }
}

@media screen and (max-width: 530px) {
    .tp-image-wrapper {
        width: 300px;
        height: 300px;
    }
}