<div class="tp-content">
    <h2>{{user.name}} {{user.surname}}</h2>
    <div class="tp-column tp-image-column">
        <div class="tp-image-wrapper">
            <img src="{{user.photoUrl}}" alt="{{user.login}}">
        </div>
    </div>
    <div class="tp-column tp-description-column">
        <h5><span class="fa fa-pencil-square-o"></span>Opis</h5>
        <p class="tp-user-description">{{user.description}}</p>
        <h6><span class="fa fa-calendar"></span>Data urodzenia</h6>
        <p>{{user.birthDate | date : "dd.MM.yyyy" }}</p>
        <h6><span class="fa fa-phone"></span>Telefon</h6>
        <p>{{user.phone}}</p>
        <h6><span class="fa fa-envelope"></span>Email</h6>
        <p>{{user.email}}</p>
    </div>

    <div class="tp-message">
        <h4>Napisz wiadomość</h4>
        <input type="text" placeholder="Imię i nazwisko">
        <input type="email" placeholder="Email">
        <textarea>Wiadomość</textarea>
        <button>Wyślij</button>
    </div>
</div>
