.tp-content {
    padding: 180px 0 80px 0;
}

form {
    width: 80%;
    margin: 30px auto;
}

input, textarea, select {
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
}

input[type="date"], input[type="number"], select {
    width: 49%;
    float: left;
}

input[type="date"]:nth-child(even) {
    float: right;
}

select:nth-child(odd) {
    float: right;
}

button {
    margin-top: 30px;
}