<div class="tp-content">
    <h2>{{addTripHeading}}</h2>
    <form> 
        <label for="trip-new-name">Nazwa wycieczki
        <input #tripName id="trip-new-name" type="text" placeholder="Nazwa wycieczki" name="name" required ([ngModel])="newTrip.name"></label>
        <label for="trip-new-description">Opis wycieczki
        <textarea #tripDescription id="trip-new-description" placeholder="Opis"></textarea></label>
        <label for="trip-new-photo">Dodaj zdjęcie
        <input #tripPhoto id="trip-new-photo" type="file" placeholder="Dodaj zdjęcie"></label>
        <label for="trip-new-start">Data rozpoczęcia
        <input #tripStartDate id="trip-new-start" type="date" placeholder="Data rozpoczęcia"></label>
        <label for="trip-new-end">Data zakończenia
        <input #tripEndDate id="trip-new-end" type="date" placeholder="Data zakończenia"></label>
        <label for="trip-new-startplace">Miejsce startu
        <input #tripStartPlace id="trip-new-startplace" type="text" placeholder="Miejsce startu"></label>
        <label for="trip-new-destination">Cel wycieczki
        <input #tripDestination id="trip-new-destination" type="text" placeholder="Cel wycieczki"></label>
        <label for="trip-new-price">Koszt wycieczki
        <input #tripPrice id="trip-new-price" type="number" placeholder="Koszt wycieczki"></label>
        <label for="trip-new-currency">Waluta
        <select #tripCurrency id="trip-new-currency">
            <option disabled selected>Waluta</option>
            <option>zł</option>
            <option>euro</option>
        </select></label>
        <label for="trip-new-transport">Transport
        <select #tripTransport id="trip-new-transport">
            <option disabled selected>Transport</option>
            <option>Pociąg</option>
            <option>Samochód</option>
            <option>Samolot</option>
            <option>Autostop</option>
            <option>Pieszo</option>
        </select></label>
        <label for="trip-new-accommodation">Zakwaterowanie
        <select #tripAccommodation id="trip-new-accommodation">
            <option disabled selected>Zakwaterowanie</option>
            <option>Hotel</option>
            <option>Namiot</option>
            <option>Schronisko</option>
            <option>Pensjonat</option>
        </select></label>
        <button (click)="onSubmit(
            tripName.value,
            tripDescription.value,
            tripPhoto.value,
            tripStartDate.value,
            tripEndDate.value,
            tripStartPlace.value,
            tripDestination.value,
            tripPrice.value,
            tripCurrency.value,
            tripTransport.value,
            tripAccommodation.value )">Zapisz</button>
    </form>
</div>