<div class="tp-content"> 
    <h2>{{addTripHeading}}</h2>
    <form name="newTripInfo" [formGroup]="newTripInfo" (ngSubmit)="onSubmit(newTripInfo)"> 
        <label for="trip-new-name">Nazwa wycieczki
            <input formControlName="tripName" id="trip-new-name" type="text" placeholder="Nazwa wycieczki" name="name" (blur)="checkName()" required>
            <p id="tripName-error" class="errorMessage">Niepoprawna nazwa</p>
        </label>
        <label for="trip-new-description">Opis wycieczki
            <textarea formControlName="tripDescription" id="trip-new-description" placeholder="Opis" (blur)="checkDescription()"></textarea>
            <p id="tripDescription-error" class="errorMessage">Niepoprawny opis</p>
        </label>
        <label for="trip-new-photo">Dodaj zdjęcie
            <input formControlName="tripPhoto" id="trip-new-photo" type="file" placeholder="Dodaj zdjęcie" (blur)="checkPhoto()">
            <p id="tripPhoto-error" class="errorMessage">Brak zdjęcia</p>
        </label>
        <label for="trip-new-start">Data rozpoczęcia
            <input formControlName="tripStartDate" id="trip-new-start" type="date" placeholder="Data rozpoczęcia" (blur)="checkStartDate()">
            <p id="tripStartDate-error" class="errorMessage">Niepoprawna data</p>
        </label>
        <label for="trip-new-end">Data zakończenia
            <input formControlName="tripEndDate" id="trip-new-end" type="date" placeholder="Data zakończenia" (blur)="checkEndDate()">
            <p id="tripEndDate-error" class="errorMessage">Niepoprawna data</p>
        </label>
        <label for="trip-new-startplace">Miejsce startu
            <input formControlName="tripStartPlace" id="trip-new-startplace" type="text" placeholder="Miejsce startu" (blur)="checkStartPlace()">
            <p id="tripStartPlace-error" class="errorMessage">Niepoprawna nazwa</p>
        </label>
        <label for="trip-new-destination">Cel wycieczki
            <input formControlName="tripDestination" id="trip-new-destination" type="text" placeholder="Cel wycieczki" (blur)="checkDestination()">
            <p id="tripDestination-error" class="errorMessage">Niepoprawna nazwa</p>
        </label>
        <label for="trip-new-price">Koszt wycieczki
            <input formControlName="tripPrice" id="trip-new-price" type="number" placeholder="Koszt wycieczki" (blur)="checkPrice()">
            <p id="tripPrice-error" class="errorMessage">Niepoprawna cena</p>
        </label>
        <label for="trip-new-currency">Waluta
            <select formControlName="tripCurrency" id="trip-new-currency" (blur)="checkCurrency()">
                <option disabled selected>Waluta</option>
                <option>zł</option>
                <option>euro</option>
            </select>
            <p id="tripCurrency-error" class="errorMessage errorMessage-select">Wybierz walutę</p>
        </label>
        <label for="trip-new-transport">Transport
            <select formControlName="tripTransport" id="trip-new-transport" (blur)="checkTransport()">
                <option disabled selected>Transport</option>
                <option>Pociąg</option>
                <option>Samochód</option>
                <option>Samolot</option>
                <option>Autostop</option>
                <option>Pieszo</option>
            </select>
            <p id="tripTransport-error" class="errorMessage errorMessage-select">Wybierz transport</p>
        </label>
        <label for="trip-new-accommodation">Zakwaterowanie
            <select formControlName="tripAccommodation" id="trip-new-accommodation" (blur)="checkAccommodation()">
                <option disabled selected>Zakwaterowanie</option>
                <option>Hotel</option>
                <option>Namiot</option>
                <option>Schronisko</option>
                <option>Pensjonat</option>
            </select>
            <p id="tripAccommodation-error" class="errorMessage errorMessage-select">Wybierz zakwaterowanie</p>
        </label>
        <button type="submit">Zapisz</button>
    </form>
</div> 