<div class="tp-content">
    <div class="tp-column">
        <div class="login-form-wrapper">
            <h3>Zaloguj się</h3>
            <form>
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Hasło">
                <button>Zaloguj się</button>
            </form>
        </div>
    </div>
    <div class="tp-column">
        <div class="register-form-wrapper">
            <h6>Nie masz jeszcze konta?</h6>
            <h3>Zarejestruj się</h3>
            <form>
                <input type="text" placeholder="Imię">
                <input type="text" placeholder="Nazwisko">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Hasło">
                <input type="password" placeholder="Powtórz hasło">
                <button>Zarejestruj się</button>
            </form>
        </div>
    </div>
</div>