<div class="tp-content">
    <div class="tp-column">
        <div class="login-form-wrapper">
            <h3>{{loginHeading}}</h3>
            <form>
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Hasło">
                <button>{{loginButton}}</button>
            </form>
        </div>
    </div>
    <div class="tp-column">
        <div class="register-form-wrapper">
            <h6>{{registerHeadingSmall}}</h6>
            <h3>{{registerHeading}}</h3>
            <form>
                <input type="text" placeholder="Imię">
                <input type="text" placeholder="Nazwisko">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Hasło">
                <input type="password" placeholder="Powtórz hasło">
                <button>{{registerButton}}</button>
            </form>
        </div>
    </div>
</div>