<form name="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
    <label>
        <input formControlName="cfName" type="text" name="name" placeholder="Imię i nazwisko" (blur)="checkCfName()" required>
        <p id="cfName-error" class="errorMessage">Niepoprawne imię</p>
    </label>
    <label>
        <input formControlName="cfEmail" type="email" name="email" placeholder="Email" (blur)="checkCfEmail()" required>
        <p id="cfEmail-error" class="errorMessage">Niepoprawny email</p>
    </label>
    <label>
        <input formControlName="cfSubject" type="text" name="subject" placeholder="Temat" (blur)="checkCfSubject()" required>
        <p id="cfSubject-error" class="errorMessage">Niepoprawny temat</p>
    </label>
    <label>
        <textarea formControlName="cfMessage" name="message" placeholder="Wiadomość" (blur)="checkCfMessage()"></textarea>
        <p id="cfMessage-error" class="errorMessage">Niepoprawna wiadomość</p>
    </label>
    <button type="submit">Wyślij</button>
</form> 