.tp-content {
    padding-bottom: 80px;
    text-align: center;
}

h2 {
    margin-bottom: 80px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    display: block;
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

li img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.trip-info {
    width: 280px;
    height: 100px;
    background-color: rgba(33, 33, 33, 0.8);
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px;

    transition: width .35s, height .35s, right .35s, bottom .35s, padding .35s;
}

.trip-info:before, .trip-info:after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 0px;
    width: 0px;
    color: #fff;
        
    transition: width .40s, height .40s;
}

.trip-info:before {
    border-bottom: 1px solid #ffffff;
}

.trip-info:after {
    border-left: 1px solid #ffffff;
}

li:hover .trip-info {
    width: 350px;
    height: 350px;
    right: 0;
    bottom: 0;
    padding: 30px;
}

li:hover .trip-info:before {
    width: 290px;
}

li:hover .trip-info:after {
    height: 290px;
}

li:hover .trip-info-button {
    opacity: 1;
}

.trip-info-button h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.trip-info h5, .trip-info h6 {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
}

.trip-info h6 {
    font-weight: 300;
}

button {
    margin: 80px auto 40px auto;
}