@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,400,600,700&subset=latin-ext');
/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

.tp-content {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #212121;
    background-color: #ffffff;
}

p {
    font-size: 1em;
    color: #757575;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

input, select {
    height: 30px;
    padding: 3px 8px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

textarea {
    height: 150px;
    padding: 10px 8px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

input:focus, select:focus, textarea:focus {
    outline-color: #00796A;
}

button {
    background-color: #FFC107;
    border: 1px solid #FFC107;
    border-radius: 3px;
    cursor: pointer;
    padding: 15px 55px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .25s, border .25s;
}

button:hover {
    background-color: #cc9004;
    border: 1px solid #cc9004;
}

.content-wrapper {
    z-index: 2; 
    position: relative;
    margin-bottom: 700px;
    background-color: #ffffff;
}